input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input {
  outline: none;
  background: none;
  border: none;
}

body {
  background-image: url("image/종이.jpeg");
  background-repeat: no-repeat;
  background-size: cover;

  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.box {
  display: block;
  width: 40%;
  height: auto;
  justify-content: center;

  text-align: center;
  border: 4px solid #737373;
}

h1 {
  font-size: 2em;
}

.ad h1 {
  font-size: 2.5em;
}
.buy h1 {
  font-size: 2em;
}

.buy a {
    text-decoration: none;
    color: black;
}

.blinking:hover {

  color: black;

}

.download_btn{
    width: 50%;
    height: 60px;
    background-color:cadetblue;
    border-radius: 20px;

}

.blinking {
  -webkit-animation: blink 0.8s ease-in-out infinite alternate;
  -moz-animation: blink 0.8s ease-in-out infinite alternate;
  animation: blink 0.8s ease-in-out infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
