body {
  background-image: url(https://raw.githubusercontent.com/sunes26/highchallange/main/image/%E1%84%8C%E1%85%A9%E1%86%BC%E1%84%8B%E1%85%B5.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  overflow-x: auto;
}

a {
  text-decoration: none;
  color: black;
}
.main_box {
  display: block;
  width: 40%;
  height: auto;
  justify-content: center;

  text-align: center;
  border: 4px solid #737373;
}

h1 {
  font-size: 1.5em;
}

.progress {
  width: 90%;
  height: 15px;
  border: 3px solid #737373;
  border-radius: 50em;
}

.progress-bar {
  width: 20%;
  height: 15px;
  background-color: #737373;
}
.box {
  cursor: pointer;
  margin-top: 15px;
  width: 100%;
  height: 80px;
  border-radius: 30px;
  border: 3px solid #737373;
  cursor: pointer;
}

.answerX {
  position: absolute;
  width: 200px;
  margin: -50px auto;
  margin-left: -70px;
  display: none;
}

.answerO {
  position: absolute;
  width: 200px;
  margin-left: -100px;
  margin-top: -80px;
  display: none;
}

.next_box {
  cursor: pointer;
  margin-top: 50px;
  margin-left: 70%;
  width: 30%;
  height: 80px;
  border-radius: 30px;
  border: 3px solid #737373;
  text-align: center;
  line-height: 85px;
  font-size: 1.5em;
}
.next_box:hover {
  transition-property: all;
  background-color: white;
  transition-duration: 1s;
}

.text2{
  font-size: 4em; 
}
